* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --p: 0;
  --m: 0;
  --b: 0;
  --c: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  padding: 4rem 0;
  gap: 0.5rem;
}

h1 {
  max-width: 15ch;
  font-size: clamp(1rem, 7vw, 4rem);
  margin: 2em 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  margin: 1rem 0;
}

input {
  cursor: pointer;
}

input[type="color"] {
  width: 100%;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  background: transparent;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  flex: 1 1 0%;
  border: 1px solid lightgrey;
  border-radius: 100rem;
}

.variable {
  margin: var(--m);
  padding: var(--p);
  background: var(--c);
  filter: blur(var(--b));
  border: 1px solid lightgrey;
}

.variable > img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 750px) {
  header, main {
    padding: 4rem clamp(2rem, 15vw, 20rem);
  }
}